<!doctype html>
  <html lang="en">
  <head>
<title>{{ page.title }}</title>
<a name="top" style="position:absolute; top:-100px;"></a>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width">
      <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
 
   

    <script type="text/javascript">
        var host = "opingsoc.com";
        if ((host == window.location.host) && (window.location.protocol != "https:"))
        window.location.protocol = "https";
    </script>

    {% capture lchar %}{{page.url | slice: -1, 1}}{% endcapture %}
    {% capture url %}{% if lchar == "/" %}{{page.url}}index.html{% else %}{{ page.url | default: 'index.html' }}{% endif %}{% endcapture %}
    
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous">
    </script>

  
      <link rel="stylesheet" href="{{ '/assets/css/dark-test.css?v=' | append: site.github.build_revision | relative_url }}" title="default">
    <script src="{{ '/assets/js/wiki-features.js' | relative_url }}"></script>

    {% if site.custom_head %}
        {% include head.html %}
    {% endif %}
  </head>
  
  <body>
  <link rel="preload" href="/assets/images/button-normal-720-480.png" as="image">
<link rel="preload" href="/assets/images/button-hover-720-480.png" as="image">
<link rel="preload" href="/assets/images/button-disabled-720-480.png" as="image">
<link rel="preload" href="/assets/images/button-normal.png" as="image">
<link rel="preload" href="/assets/images/button-hover.png" as="image">
<link rel="preload" href="/assets/images/button-disabled.png" as="image">



<div id="nav">
<ul> 
<li><a href="#">Home</a>
  <ul> 
  <li><a href="#">Level 2.1</a></li> 
   </ul>
  </li>
<li><a href="#">Research</a> 
	<ul> 
	<li>{% for p in site.pages %}
    {% if p.menu == "research" %}
    <a href="{{ p.url | prepend: site.baseurl }}">{{ p.title }}</a></li>
    {% endif %}
  {% endfor %}</li> 
	<li><a href="#">Level 2.2</a></li> 
	<li><a href="#">Level 2.3</a></li> 
	<li><a href="#">Level 2.4</a></li> 
	<li><a href="#">Level 2.5</a></li> 
	</ul> 
</li> 
<li><a href="#">Wiki</a> 
	<ul> 
	<li>{% for p in site.pages %}
    {% if p.menu == "wiki" %}
    <a href="{{ p.url | prepend: site.baseurl }}">{{ p.title }}</a></li>
    {% endif %}
  {% endfor %}</li> 
	<li><a href="#">Level 2.2</a></li> 
	<li><a href="#">Level 2.3</a> 
		<ul> 
		<li><a href="#">Level 2.3.1</a></li> 
		<li><a href="#">Level 2.3.2</a></li> 
		<li><a href="#">Level 2.3.3</a></li> 
		<li><a href="#">Level 2.3.4</a></li> 
		<li><a href="#">Level 2.3.5</a></li> 
		<li><a href="#">Level 2.3.6</a></li> 
		<li><a href="#">Level 2.3.7</a></li> 
		</ul> 
	</li> 
	<li><a href="#">Level 2.4</a></li> 
	<li><a href="#">Level 2.5</a></li> 
	</ul> 
</li>
     <li><a href="#">News</a> 
     	<ul> 
     	<li><a href="#">Level 2.1</a></li> 
     	<li><a href="#">Level 2.2</a></li> 
     	<li><a href="#">Level 2.3</a> 
     		<ul> 
     		<li><a href="#">Level 2.3.1</a></li> 
     		<li><a href="#">Level 2.3.2</a></li> 
     		<li><a href="#">Level 2.3.3</a></li> 
     		<li><a href="#">Level 2.3.4</a></li> 
     		<li><a href="#">Level 2.3.5</a></li> 
     		<li><a href="#">Level 2.3.6</a></li> 
     		<li><a href="#">Level 2.3.7</a></li> 
     		</ul> 
     	</li> 
     	<li><a href="#">Level 2.4</a></li> 
     	<li><a href="#">Level 2.5</a></li> 
     	</ul> 
     </li> 
</ul> 
</div>
<br>

<div class="search-div">
  <form action="https://opingsoc.github.io/search.html">
  <input type="text" class="search-box" id="search-query" name="q" placeholder="Search" autocomplete="off">
  <input type="submit" class="search-button" value="Search" />
</form>
</div>


    <div class="wrapper">
      <header>
<BODY ondragstart="return false;" ondrop="return false;">
</BODY>


        <div class="logo-center" style="text-align:center;"><a href="{{ '/' | relative_url }}"><img src="{{ site.logo_url }}"></a></div>
        <p>{{ site.description }}</p>  

  {% if site.custom_sidebar %}
    {% include sidebar.html %}
  {% endif %}      


      </header>


       <div class="section">
      <section>


    
  
      <div class="toc-menu">    
      <div id="toc"></div>
      </div>



      {{ content }}
<div class="footer">
 <footer>
            {% if site.custom_footer %}
            {% include footer.html %}
        {% endif %}
<div class="footer-text">
<a href="#top">Back to Top</a>
</div>
 </footer>
</div>
      </section>
      </div>
</div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>

<script type="text/javascript">
        $(document).ready(function() {
            $('#toc').toc({ title: '<i>Contents</i>' });
        });
</script>      
  </body>
</html>
