<!DOCTYPE html>
          <html><html lang="en">
            <head>
    <script type="text/javascript">
    var host = "opingsoc.com";
    if ((host == window.location.host) && (window.location.protocol != "https:"))
        window.location.protocol = "https";
    </script>
              <meta content="text/html; charset=utf-8" http-equiv="content-type">

          </head>
            <body>
 		      <link rel="preload" href="/assets/images/button-normal-720-480.png" as="image">
    <link rel="preload" href="/assets/images/button-hover-720-480.png" as="image">
    <link rel="preload" href="/assets/images/button-disabled-720-480.png" as="image">
    <link rel="preload" href="/assets/images/button-normal.png" as="image">
    <link rel="preload" href="/assets/images/button-hover.png" as="image">
    <link rel="preload" href="/assets/images/button-disabled.png" as="image">
              {% capture lchar %}{{page.url | slice: -1, 1}}{% endcapture %}
              {% capture url %}{% if lchar == "/" %}{{page.url}}index.html{%
              else %}{{ page.url | default: 'index.html' }}{% endif %}{%
              endcapture %}
              <meta http-equiv="X-UA-Compatible" content="chrome=1">
              <title>{{ page.title }}</title>
              <script src="https://code.jquery.com/jquery-3.2.1.min.js" 
	         integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
                 crossorigin="anonymous"></script>

              <link rel="stylesheet" href="{{ '/assets/css/style-splash.css?v=' | append: site.github.build_revision | relative_url }}" title="default">
              
              <meta name="viewport" content="width=device-width">

<div class="dropdown">
<button class="dropbtn">Menu</button>
  <div class="dropdown-content">
  {% for p in site.pages %}
    {% if p.menu == "wiki" %}
    <a href="{{ p.url | prepend: site.baseurl }}">{{ p.title }}</a></li>
    {% endif %}
  {% endfor %}
</div>
</div>


              <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>    <![endif]-->
              <section>
       <div class="search-div">
          {{page.relative_path}}
            <span class="tools-element1"><a href="/wiki/Home.html">Home</a></span>
            <span class="tools-element2"><a href="">Research</a></span>
            <span class="tools-element3"><a href="">Wiki</a></span>
            <span class="tools-element4"><a href="">News</a></span>
     
	<form action="https://opingsoc.github.io/search.html">
 	  <input type="text" class="search-box" id="search-query" name="q" placeholder="Search" autocomplete="off">
 	  <input type="submit" class="search-button" value="Search" />
        </form>
      </div>
      

<div class="container">
        <div class="content-wrap">
           <div class="logo-splash">
                <a href="wiki/Home.html"> <img src="assets/images/webhome3.png"
alt="opingsoc-logo" style="width:auto;max-width:100%"> </a>
              </div>
            </div>
          </div>
        
      
      <!-- end container -->
  

</section></body></html>
